@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth; }

.phone-redirect {
    cursor: pointer;
}

.swiper-button-next {
    @media only screen and (min-width: 370px) and (max-width: 767px) {
        left: 18rem !important;
    }
}

.swiper-button-prev {
    @media only screen and (min-width: 370px) and (max-width: 767px) {
        left: 0rem !important;
    }
}